

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	margin-top:70px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	margin:0 auto;
	width:960px;
}

#site-head h1 {
	position:relative;
	left:-50px
}

#site-head h1 img{
	z-index:2
}

#top-nav {
	list-style:none;
	width:940px;
	height:94px;
	margin:-70px;
}

#wrapper {
	border-top:1px solid black;
	height:0px;
	width:960px;
}

#top-nav li {
	float:right;
	display:block;
	position:relative;
	padding:6px 17px;
}

#top-nav li:hover {
	color:black;
}

#top-nav li a {
	font-family:sans-serif;
	font-size:14px;
	text-decoration:none;
	color:black;
	display:block;
}

#top-nav li ul{
	display:none;
	position:absolute;
}

#top-nav li:hover ul{
	display:block;
	background-color:white;
}

#top-nav li ul li{
	float:left;
	display:block;
	position:relative;
	padding:4px 17px 4px 17px;
	margin-top:7px;
	width:300px;
	z-index:3;
	background-color:white;
	line-height:1.2em;
	padding-bottom:10px
}
#wrapper3 {
	margin-top:35px;
	z-index:1;
	height:960px;
}

#slider {
	z-index:1;
	height:960px;
}

section #hover1 {
	
}

.hover .project1 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp1.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project1:hover {
	background-position: 0 0;
	}
	
.hover .project2 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp2.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project2:hover {
	background-position: 0 0;
	}
	
.hover .project3 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp3.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project3:hover {
	background-position: 0 0;
	}
	
.hover .project4 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp4.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project4:hover {
	background-position: 0 0;
	}
	
.hover .project5 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp5.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project5:hover {
	background-position: 0 0;
	}
	
.hover .project6 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp6.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project6:hover {
	background-position: 0 0;
	}
	
.hover .project7 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp7.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project7:hover {
	background-position: 0 0;
	}
	
.hover .project8 {
	display:block;
	width:200px;
	height:200px;
	background: url("images/projectpageimgp8.jpg") bottom;
	text-indent:-99999px;
	float:left;
	margin:20px;
	}
	
.project8:hover {
	background-position: 0 0;
	}
	
#wrapper2 {
	clear:both;
	border-top:1px solid black;
	height:5px;
	width:960px;
}

footer {
	clear:both;
	background-color:white;
	font-size:10px;
}